*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEBUG:
colori:
navleft: #000000;
navbuttom: #282828;
sfondo main: #141922;
barra trasparente: #080b12;
testo grigio: #a3a3a3;

font: Regular 400 Semi-bold 600

 */

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* struttura sito */
main{
  height: calc(100vh - 100px);
}

footer{
  height: 100px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navleft{
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #000000;
  float: left;
  /* bottom: 0; */
}

.corpo{
  height: calc(100vh - 100px);
  width: calc(100% - 300px);
  overflow: auto;
  background-color: #141922;
  float: left;
}

/* struttura navleft */

.flexgroup{
  display: flex;
  flex-direction: column;

}
.navleft{
  display: flex;
  flex-direction: column;
}

.logo{
  padding: 20px;
}

.logo img{
  max-height: 50px;
}

.logotelefoto{
  display: none;
}

.flex{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.barranav{
  margin-top: 10px;
}

.iconanav img{
  width: 40px;
  margin-left: 15px;
}

.barra{
  border-left: 5px solid #7FFF00;
}

.vocemenu a{
  text-decoration: none;
  color: #a3a3a3;
  font-weight: 600;
  padding-left: 10px;
}

.bianco a{
  color: white;
}

.vocemenu a:hover{
  color:white;
}

.playlist{
  flex-grow: 1;
}

.playlist h4{
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 50px;
}

.aggiungi {
  width: 40px;
  height: 40px;
  background-color: #a3a3a3;
  text-align: center;
  margin-left: 15px;
}

.aggiungi i{
  font-size: 25px;
  margin-top: 8px;
  color: black;
}

.aggiungi:hover{
  background-color: white;
}

.lista ul{
  margin-top: 20px;
}

.lista a{
  color: #a3a3a3;
  margin-left: 15px;
  text-decoration: none;
}

.lista a:hover{
  color: white;
}

.lista ul li{
  list-style: none;
  margin: 10px auto;
}

.installa img{
  width: 20px;
  color: #a3a3a3;
}

.instaggiungi{
  margin-left: 15px;
}

.installa{
  margin-top: 10px;
  margin-bottom: 10px;
}

.installa a{
  color: #a3a3a3;
  text-decoration: none;
}

.installa a:hover{
  color: white;
}

.linea{
  border: 1px solid #a3a3a3;
  width: 255px;
  margin: 10px 0;
}

.account{
  align-items: center;
  margin-bottom: 10px;
}

.account img{
  width: 40px;
  height: 40px;
  background-color: #a3a3a3;
  border-radius: 50px;
}

.nome{
  color: white;
  font-weight: bolder;
  display: inline-block;
  margin-left: 20px;
}

@media all and (max-height:779px) {

  .lista{
    height: 150px;
    overflow: auto;
  }
}

/* corpo */

.corpo{
  text-align: center;
  padding-top: 120px;
}

.trasparenza{
  height: 100px;
  background-color: rgba(8,11,18, 0.5);
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  z-index: 200;
}

.bottone{
  position: absolute;
  right: 25px;
  top: 25px;
  width: 250px;
  height: 50px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 15px 0;
}

.bottone:hover{
  width: 252px;
  height: 52px;
  font-size: 16px;
}

.sottomenu ul li{
  display: inline-block;
  list-style: none;
}

.sottomenu a{
  text-decoration: none;
  font-weight: bold;
  color: #a3a3a3;
  margin-left: 10px;
}

.sottomenu a:hover{
  color: white;
}

.sottomenu .white{
  color: white;
}

.lineaa{
  width: 25px;
  border: 3px solid #7FFF00;
  margin-left: 50px;
  margin-top: 5px;
}

/*  dati album */

[class*-"col-"]{
  float: left;
}

.album{
  max-width: 350px;
  min-height: 360px;
  color: white;
  padding-right: 20px;
  /* margin-bottom: 20px; */
  float: left;
}

.copertina{
  position: relative;

}

.copertina img{
  width: 100%;
  object-fit: cover;
}

.overlay{
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(8,11,18, 0.5);
}

.overlay i{
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copertina:hover .overlay{
    display: block;
}

.copertine{
  position: relative;
}

.copertine img{
  width: 100%;
  border-radius: 100%;
}

.overlaycerchio{
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(8,11,18, 0.5);
  border-radius: 100%;
}

.overlaycerchio i{
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copertine:hover .overlaycerchio{
    display: block;
}

/* ----------- */

.listmusic{
  padding: 0 20px;
  height: calc(100vh - 320px);
}


.listcont h2{
  text-align: left;
  color: white;
  font-weight: bold;
  margin: 40px 0px 10px 0px;
}

.listmusic h3{
  font-weight: bold;
  padding: 10px;
}

.album span{
  color: #a3a3a3;
}

.listcont p{
  color: #a3a3a3;
  text-align: left;
  margin: 10px 0 20px 0;
}

/* footer */

footer{
  z-index: 999;
}

.fotterleft{
  width: 325px;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width:741px) {
  .fotterleft{
    min-width: 195px;
  }
}

.tit{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.dati{
  padding-left:10px;
}


.sottit{
  font-size: 12px;
  color: #a3a3a3;
  text-decoration: none;
}

.sottit:hover{
  text-decoration: underline;
}

.icone{
  margin: 5px;
}

.icone a{
  color: #a3a3a3;
}

.icone a:hover{
  color: white;
}

.icone i{
  padding-left: 10px;
}

.boxx{
  border: 1px solid white;
  height: 100%;
}

.flexx{
  display: flex;
  align-items: center;
  height: 100%;
}
/* ----------------------------- */
.fottercenter{
  width: 80%;
}

.music{
  display: flex;
  align-items: center;
  justify-content: center;
}

.music a{
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 0px 10px;
}

.play{
  font-size:30px;
}

.play:hover{
  font-size:32px;
}

.timer{
  text-align: center;
  color: white;
  font-size: 10px;
  margin-top: 5px;
}

.timer span{
  padding: 0 5px;
}

.carica{
  display:inline-block;
  width: 30%;
  height: 5px;
  border-radius: 5px;
  background-color: grey;
}

.caricas{
  position: relative;
  width: 30%;
  height: 5px;
  background-color: lightgrey;
  border-radius: 5px;
}

.caricas:hover{
  background-color: #7FFF00;
}

/* ---------------------------------- */
.fotteright{
  width: 300px;
  display: flex;
  align-items: center;
}

.fotteright a{
  color: white;
  text-decoration: none;
  padding: 0 10px;
}
.volume{
  min-width: 30%;
}


/* -------------------------- */

@media all and (max-width:767px){
  .navleft{
    width: 90px;
    display: flex;
    flex-direction: column;
  }

  .super{
    flex-grow: 1;
  }

  .vocemenu{
    display: none;
  }

  .logo{
    display: none;
  }

  .logotelefoto{
    display: block;
    width: 40px;
    margin-left: 22px;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .playlist{
    display: none;
  }

  .installa span{
    display: none;
  }

  .linea{
    display: none;
  }

  .nome{
    display: none;
  }

  .corpo{
    height: calc(100vh - 100px);
    width: calc(100% - 90px);
    overflow: auto;
    background-color: #141922;
    float: left;
  }

  .trasparenza{
    width: calc(100% - 90px);
  }

}
