*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.contain{
  display: flex;
  justify-content: flex-start;
}

.navtop{
  float: right;
  background-color:pink;
  height: 80px;
  width: 90vw;
}

.navleft{
  float: left;
  background-color: lightblue;
  height: 90vh;
  width: 300px;
}

.navbuttom{
  align-items: flex-end;
  background-color:blue;
  height: 300px;
  width: 300px;
}
